html {
  font-size: 16px;
}
html,
body,
#root,
.fullscreen,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

svg {
  background-color: rgba(20, 255, 20, 0.5);
  border: 1px solid blue;
}
